/* ===================================
    GLOBAL STYLES =========================================================
=======================================*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url("img/geometry_@2X.png");
}

* {
  font-family: "proxima-nova";
  margin: 0;
  padding: 0;


}

em {
  font-style: normal;

}

a {
  color: white;
  text-decoration: none;

}




/* ===================================
    LARGE SCREEN STYLES =========================================================
=======================================*/

@media only screen and (min-width: 769px) {

      .hero {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        max-height: 100vh;
      }

      .container {
        position: absolute;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: block;




      }

      video {

        position: absolute;
        width: 100%;
        height: 100vh;

        object-fit: cover;



      }

      .overlay {
        position: absolute;
        float: left;
        background: rgba(45, 181, 255, 0.3);
        height: 100vh;
        width: 100%;

      }
    /*
      .overlay {



        height: 100vh;
        width: 100%;
        max-height: 100vh;
        margin: 0;
        padding: 0;
        background: rgba(45, 181, 255, 0.3);






      }
      */


      .nav {
        text-align: right;
        position: fixed;
        height: 80px;
        width: 100%;
        background-color: white;
        border-bottom: solid 2px #0303ff;
        opacity: 0.95;
        z-index: 100;

      }

      .nav a {
        padding-right: 40px;
        text-decoration: none;
        color: #0303ff;
        font-size: 1.1em;

      }

      .navigation {
        padding-top: 25px;
      }

      .logo {
        float: left;
        font-size: 1.3em;
        margin-top: 25px;
        color: #0303ff;
        font-weight: bold;

      }

    /*
      .title-wrapper {

          position: absolute;

          margin-top: 350px;
          margin-left: 400px;
          display: inline;

      }


        .title {

          padding: 0;
          color: white;
          font-size: 3em;





        }
  */

        .title {
          position: relative;

          margin: 0 auto;
          max-width: 75%;

          padding-top: 350px;
          color: white;
          font-size: 3em;

        }

          .logo-svg {
            height: 75px;
            width: 75px;
            margin: 0 auto;
            margin-top: 75px;

            display: block;



          }

      .red {
        color: #f05253;
      }

      /* ABOUT PART 1 STYLES */

      .about-title {
        color: #0303ff;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 10%;
        margin-top: 10%;
      }

        .about img{
          height: 200px;
          width: 200px;
          padding-bottom: 50px;



        }

        .wrapper {
          width: 70%;
          display: flex;
          justify-content: space-around;
          text-align: center;
          margin: 0 auto;




        }





        .about {
          width: 30%;
            margin: 0 5%;
            color: #0303ff;

        }


        .team-title {
          color: #0303ff;
          text-align: center;
          width: 50%;
          margin: 0 auto;
          margin-bottom: 10%;
          margin-top: 10%;
        }

        .team img {
          height: 300px;
          width: 300px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 100px;

        }

        .team-wrapper {
          width: 70%;
          margin: 0 auto;
        }

        .team {


          display: flex;
          justify-content: center;
          margin:


        }

        .photo-grid {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;

}

.photo-grid li {

	display: inline-block;
	margin: 1em;
	width: 289px;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;

}

.photo-grid figure {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
  padding-top: 50px;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: block;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}





.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}


.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}




.modal::before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin: 0;
}

.target {
display: block;
left: 0;
position: fixed;
top: 0;
width: 0;
height: 0;
visibility: hidden;
pointer-events: none;
}

.modal {
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 100;
text-align: center;
display: none;
/* Fallback for legacy browsers */
background-color: rgba(0,0,0,0.6);
}
.modal > .content {
text-align: left;
display: inline-block;
background-color: white;;
box-sizing: border-box;
color: #0303ff;
position: relative;
width: 500px;
padding: 20px;
}

.modal > .content .close-btn {
position: absolute;
top: 18px;
right: 18px;
width: 15px;
height: 15px;
color: #0303ff;
font-size: 18px;
text-decoration: none;
}

/* Behaviour on legacy browsers */
.target:target + .modal {
display: block;
}

/* Fallback for IE8 */
.modal.is-expanded {
display: block;
}
.modal.is-expanded > .content {
top: 50%;
margin-top: -45px;
}

/* Making main page blurred when modal window open */
:root .target:target ~ .page-container {
filter: blur(5px);
-webkit-filter: blur(5px);
filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5"); // for Firefox
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
:root span[id="start"]:target ~ .page-container {
filter: none;
-webkit-filter: none;
}

/* Behavior on modern browsers */
:root .modal {
display: block;
background-color: transparent;
transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
transform-origin: center center;
transform: scale(0, 0);
}
:root .modal > .content {
box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
:root .target:target + .modal {
transform: scale(1, 1);
}





        .group:before,
        .group:after {
            content: "";
            display: table;
        }
        .group:after {
            clear: both;
        }

      /* ===================================
          COLUMNS SETUP! =========================================================
      =======================================*/
      /*
              /*  SECTIONS  */
              .section {
              	clear: both;
              	padding: 0px;
              	margin: 0px;
              }

              /*  COLUMN SETUP  */
              .col {
              	display: block;
              	float:left;
              	margin: 1% 0 1% 1.6%;
              }
              .col:first-child { margin-left: 0; }

              /*  GROUPING  */
              .group:before,
              .group:after { content:""; display:table; }
              .group:after { clear:both;}
              .group { zoom:1; /* For IE 6/7 */ }
              /*  GRID OF TWELVE  */
              .span_12_of_12 {
              	width: 100%;
              }

              .span_11_of_12 {
                	width: 91.53%;
              }
              .span_10_of_12 {
                	width: 83.06%;
              }

              .span_9_of_12 {
                	width: 74.6%;
              }

              .span_8_of_12 {
                	width: 66.13%;
              }

              .span_7_of_12 {
                	width: 57.66%;
              }

              .span_6_of_12 {
                	width: 49.2%;
              }

              .span_5_of_12 {
                	width: 40.73%;
              }

              .span_4_of_12 {
                	width: 32.26%;
              }

              .span_3_of_12 {
                	width: 23.8%;
              }

              .span_2_of_12 {
                	width: 15.33%;
              }

              .span_1_of_12 {
                	width: 6.866%;
              }


}
        /*  GO FULL WIDTH BELOW 480 PIXELS */
        @media only screen and (max-width: 480px) {
        	.col {  margin: 1% 0 1% 0%; }

            .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
        	width: 100%;
        	}
        }

/* ===================================
  TABLET SIZE STYLES
 =========================================================
=======================================*/

/* ===================================
    SCROLL EFFECTS
 =========================================================
=======================================*/
